html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* GLOBAL CSS */
@font-face {
    font-family: 'cairoregular';
    src: url('assets/fonts/cairo-regular/cairo-regular-webfont.woff2') format('woff2'),
		 url('assets/fonts/cairo-regular/cairo-regular-webfont.woff') format('woff'),
		 url('assets/fonts/cairo-regular/Cairo-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  background-color: #2b2b2e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4{
  font-weight: bold;
  font-family: 'cairoregular';
}
h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 16px;
  font-family: 'cairoregular';
}
/* override */
.awssld__bullets {
  position: absolute;
  bottom: 15px !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
/* end of override */